/* authc-generic-layout css */
.content {
  background: #ffffff;
  width: 804px;
  height: 900px;
  padding: 30px;
}
.logo {
  width: 162px;
  height: 62px;
  padding: 0;
}
.productInfo {
  width: 530px;
  height: 662px;
  margin-top: 60px;
}
.language {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 0;
  background: #ffffff;
}
.login {
  width: 300px;
  height: 250px;
  background: #f6f6f6;
  margin: 400px auto;
}
